.App {
  text-align: center;
}
h1{
  color: purple;
}
.list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.card-img{
  align-items: center;
  height: 150px;
}

.card a img{
  width: 100px;
}

h4{
  white-space: nowrap;
}

h4 > span{
  color: rgb(60, 54, 141);
}
